.web-site .body {
    background-color: whitesmoke;
    font-family:  Arial, sans-serif;
}
.webs-site .row main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.web-site .Head-Text{
    font-size: 38px;
    font-weight: bold;
}
.web-site .First-Headers {
    margin-top: -15px;
    font-weight: bold;
    font-size: 24px;
}

.web-site .Second-Headers {
    font-size: 14px;
    margin-top: -14px;
}
